@mixin flexProperty($justify){
    display: flex;
    justify-content:$justify;
    align-items: center;
}

@mixin positionProperty{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

@mixin textproparty($para,$htag){
    .text{
        font-family: editorial;
        margin-left: 1vw;
        p{
            font-size: $para;
            font-weight: 200;
        }

        h1{
            font-size: $htag;
            font-weight: 900;
        }
    }
}

@mixin skillimageproparty($width,$height){
    .img_div{
        width: $width;
        height: $height;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}