@import "mixin";
@import "var";

@font-face {
    font-family: domaine;
    src: url(./fontfamily/domaine.ttf);
 }
 
 @font-face {
    font-family: editorial;
    src: url(./fontfamily/editorial.ttf);
 }
 
 @font-face {
    font-family: canopee;
    src: url(./fontfamily/canopee.ttf);
 }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body,html{
    width:100%;
    height:100%;
 }
 .loader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    transition: opacity .5s ease;

    &.preload-finish{
        opacity: 0;
        pointer-events: none;
    }


    .blundler-container{
        position: absolute;
        top: 0;
        display: flex;
        width: 100%;
        height: 100vh;

        .blundler{
            height: 100%;
            flex: 1;
            background-color: $navbg;
            transform-origin: top;
        }
    }

    #logo{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 30vw;
        margin: auto;
        // animation: fill ease .3s forwards 3s;

        path:nth-child(1){
            stroke-dasharray: 769.16;
            stroke-dashoffset: 769.16;
            animation: line-animation ease 2s forwards infinite;
        }
        path:nth-child(2){
            stroke-dasharray: 667.62;
            stroke-dashoffset: 667.62;
            animation: line-animation ease 2s forwards .3s infinite;
        }
        path:nth-child(3){
            stroke-dasharray: 702.82;
            stroke-dashoffset: 702.82;
            animation: line-animation ease 2s forwards .6s infinite;
        }
        path:nth-child(4){
            stroke-dasharray: 612.61;
            stroke-dashoffset: 612.61;
            animation: line-animation ease 2s forwards .9s infinite;
        }
        path:nth-child(5){
            stroke-dasharray: 499.51;
            stroke-dashoffset: 499.51;
            animation: line-animation ease 2s forwards 1.2s infinite;
        }
        path:nth-child(6){
            stroke-dasharray: 590.19;
            stroke-dashoffset: 590.19;
            animation: line-animation ease 2s forwards 1.5s infinite;
        }



        @keyframes line-animation{
            to{
                stroke-dashoffset: 0;
            }
        }

        @keyframes fill{
            from{
                fill: transparent;
            }
            to{
                fill: $navlink_color;
            }
        }
    }
}

.cursor {
    pointer-events: none;
    
    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 1000;
      
      circle {
        fill: $navlink_color;
      }
    }      
} 

#main{
    overflow-x: hidden;

    #container{
        
        .papertexture{
            @include positionProperty;
            background-image: url(./resources/peper_texture.webp);
            background-size: auto;
            background-position: center;
            opacity: .4;
            z-index: -2;
        }

        .papercolor{
            @include positionProperty;
            background-color: #C0B9B0;
            mix-blend-mode: multiply;
            z-index: -2;
        }

        .navlinks{
            background-color: $navbg;
            color: $navlink_color;
            position: absolute;
            top: 0%;
            left: 0%;
            height: 100vh;
            width: 100vw;
            z-index: 8;
            clip-path: circle(10vw at 50% -8%);
            -webkit-clip-path: circle(10vw at 50% -8%);
            transition: all 1s ease-out;
            @include flexProperty(center);
            flex-direction: column;
            padding-top: 5vw;
            pointer-events: none;
   
            &.open{
               clip-path: circle(200vw at 50% -8%);
               -webkit-clip-path: circle(200vw at 50% -8%);
               pointer-events: all;
            }
   
           .links{
              font-size: 15vw;
              line-height: 13.5vw;
              font-family: canopee;
              transition: .9s ease-in-out;
              opacity: 0;
   
              a{
                 text-decoration: none;
                 color:$navlink_color;
              }
   
              &.fade{
               opacity: 1;
              }
           }
   
           .links:hover{
              letter-spacing: .5vw;
           }
   
           span{
              display: flex;
              justify-content: center;
              align-items: center;
     
              a{
                 text-decoration: none;
                 color: $navlink_color;
                 font-family: canopee;
                 font-size: 1.5vw;
              }
     
              .circle{
                 aspect-ratio: 1;
                 width: .5vw;
                 border-radius: 50%;
                 background-color: $navlink_color;
                 margin: 0 .5vw;
              }
           }
          }
   
         .navcontainer{
            position: fixed;
            width: 100vw;
            height: fit-content;
            border: 1px solid $line_color;
            z-index: 9;
            top: 0;
            left: 0;
            padding: 2vw 0;
            background-color: $navlink_color;
            transition: 1.2s all ease-out;

         &.bg_color{
            background-color:$font_back;
            border: 0;
         }

         nav{
            @include flexProperty(space-between);
            width: 96vw;
            margin: 0 2vw;
            height: 100%;

           .text{
            width: 30%;

            h5{
               font-family: canopee;
               font-weight: 10;
               font-size: 1.5vw;
               &.colorchange{
                  color: $navlink_color;
               }
            }
           }
            .imgdiv{
               width: 30%;
               text-align: center;
               img{
                  width: max(10vw,10vh);
               }
            } 
            .hamburger{
               width: 30%;
               display: flex;
               align-items: flex-end;
               flex-direction: column;
               
               .linecontainer{
                  cursor: pointer;
                  .line{
                     width: max(2vw,2vh);
                     height: max(.2vw,.2vh);
                     background-color: $font_back;
                     margin-bottom: max(.2vw,.2vh);
                     transition: all ease .3s;

                     &.linecolor{
                        &:first-child{
                           transform: rotate(45deg);
                           background-color: $navlink_color;
                        }
                        &:last-child{
                           transform: rotate(-45deg) translateY(20%);
                           background-color: $navlink_color;
                        }
                     }
                 }

                 &:hover{
                  .line:first-child{
                     transform: translateX(.2vw);
                  }
                  .line:last-child{
                     transform: translateX(-.2vw);
                  }
                 }
               }
           }
         }
         }

        #About{
            overflow: hidden;
            position: relative;

            .about_text{
                margin-top: 8vw;
                h1{
                    font-size: 24vw;
                    font-family: domaine;
                    background-color: $font_back;
                    margin: 0 2vw;
                    color: $navlink_color;
                    line-height: 21vw;
                    padding: 0 0 0 1vw;
                }
            }

            .About_me{
                margin: 2vw 2vw;
                h1{
                    font-size: 7vw;
                    font-family: editorial;
                    font-weight: 500;

                    .dot{
                        @include flexProperty(space-between);
                        width: 13vw;
                        height: 7vw;
                        float: left;
                        margin-right: 1vw;
                        div{
                            width: 4vw;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            background-color: $font_back;
                        }
                    }

                    .name{
                        font-weight: 900;
                    }
                }
            }

            .skills{
                display: flex;
                justify-content: space-between;
                margin: 0 2vw;
                position: relative;

                .myImage{
                    width: 40vw;
                    border-right: 1px solid $font_back;
                    
                   
                    .myimage{
                        width: 35vw;
                        height: 35vw;
                        overflow: hidden;
                        border: 1px solid $font_back;
                        #IMAGE{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    h1{
                        margin-top: 2vw;
                        font-family: editorial;
                        font-size: 7vw;
                        color: $font_back;
                        line-height: 9vw;
                        font-weight: 900;

                        #me{
                            font-size: 10vw;
                        }
                    }

                    #a{
                        font-family: canopee;
                        font-size: 5vw;
                        color: $navlink_color;
                        background-color: $font_back;
                        padding: 0 .5vw;
                        border-radius: 20%;
                        float: left;
                    }
                    h4{
                        font-family: editorial;
                        font-size: 4vw;
                        font-weight: 100;
                        line-height: 4vw;
                    }

                    p{
                        margin-top: 2vw;
                        font-family: editorial;
                        font-size: 4vw;
                        font-weight: 100;
                        line-height: 4vw;
                    }
                }

               .skill{
                padding: 0 2vw;

                .currentskill{
                    cursor: pointer;
                    .skill_name{
                        @include flexProperty(space-between);
                        margin-bottom: 2vw;

                        &:hover .circle{
                            transform: rotate(180deg);
                        }

                        .circle{
                            width: 3vw;
                            height: 3vw;
                            border-radius: 50%;
                            border: .2vw solid $font_back;
                            overflow: hidden;
                            position: relative;
                            @include flexProperty(center);
                            transition: all 1s ease;

                            .arrow{
                                width: 1.5vw;
                                height: 1.5vw;
                                border-left: .2vw solid $font_back;
                                border-top: .2vw solid $font_back;
                                transform: rotate(45deg);
                                transform-origin: center;
                            }
                        }

                        h1{
                            font-family: canopee;
                            font-size: 5vw;
                            color: $font_back;
                        }

                    }

                    .active{
                      max-height: 0vw;
                      overflow: hidden;
                    }
                    
                    
                    .currentskill_container{
                        @include flexProperty(space-between);
                        gap: 2vw;
                        text-align: left;
                        padding: 0 2vw;
                        border-bottom: 1px solid $font_back;

                        .currentskill1{
                            @include flexProperty(space-between);
                            flex-direction: column;

                            .language{
                                @include flexProperty(center);
                                margin-bottom: 2vw;
                            }

                            .c{
                                @include textproparty(1.3vw,2vw);
                                @include skillimageproparty(6vw,6vw);
                                transform: translateX(-9%);
                                margin-top: 1vw;
                            }
    
                            .python{
                                @include skillimageproparty(10vw,10vw);
                                @include textproparty(1.3vw,2vw);
                                transform: translateX(-2%);
                            }
    
                            .java{
                                @include skillimageproparty(6vw,6vw);
                                @include textproparty(1.3vw,2vw);
                                transform: translateX(-2%);
                            }
                            
                            .javascript{
                                @include skillimageproparty(6vw,6vw);
                                @include textproparty(1.3vw,2vw);
                                transform: translateX(-6%);
                            }
    
                        }

                        .currentskill2{
                            @include flexProperty(space-between);
                            flex-direction: column;  

                            .language{
                                @include flexProperty(center);
                                margin-bottom: 2vw;
                            }
                            .TypeScript{
                                @include skillimageproparty(8vw,8vw);
                                @include textproparty(1.3vw,2vw);
                             }
     
                            .HTML{
                                @include textproparty(1.3vw,2vw);
                                 @include skillimageproparty(7vw,7vw);
                                transform: translateX(-3%);
                                margin-top: 1vw;
                             }
     
                            .CSS{
                                @include textproparty(1.3vw,2vw);
                                @include skillimageproparty(6vw,6vw);
                                transform: translateX(-6%);
                                margin-top: 2vw;
                             }
     
                            .Gsap{
                                @include textproparty(1.3vw,2vw);
                                @include skillimageproparty(7vw,7vw);
                            }
                        }
                    }
                }

                .working_on{
                    margin-top: 2vw;
                    cursor: pointer;
                    .workingskill_name{
                        @include flexProperty(space-between);
                        &:hover .circle{
                            transform: rotate(180deg);
                        }

                        .circle{
                            width: 3vw;
                            height: 3vw;
                            border-radius: 50%;
                            border: .2vw solid $font_back;
                            overflow: hidden;
                            position: relative;
                            @include flexProperty(center);
                            transition: all 1s ease;

                            .arrowworking{
                                width: 1.5vw;
                                height: 1.5vw;
                                border-left: .2vw solid $font_back;
                                border-top: .2vw solid $font_back;
                                transform: rotate(45deg);
                                transform-origin: center;
                            }
                        }

                        h1{
                            font-family: canopee;
                            font-size: 5vw;
                            color: $font_back;
                        }
                    }

                    .workingskill_container{
                        @include flexProperty(space-between);
                        gap: 2vw;
                        text-align: left;
                        padding: 0 2vw;
                        border-bottom: 1px solid $font_back;
                        margin-top: 2vw;

                        &.active{
                            max-height: 0vw;
                            overflow: hidden;
                        }

                        .workingonskill{
                            @include flexProperty(space-between);
                            flex-direction: column;

                            .language{
                                @include flexProperty(center);
                                margin-bottom: 2vw;
                            }

                            .node{
                                @include textproparty(1.3vw,2vw);
                                @include skillimageproparty(10vw,6vw);
                                transform: translateX(-6%);

                            }

                            .express{
                                @include textproparty(1.3vw,2vw);
                                @include skillimageproparty(21vw,6vw);
                                transform: translateX(1%);
                            }

                            .mongo{
                                @include textproparty(1.3vw,2vw);
                                @include skillimageproparty(12vw,6vw);
                                transform: translateX(-8%);
                            }

                            .next{
                                @include textproparty(1.3vw,2vw);
                                @include skillimageproparty(15vw,6vw);
                            }
                        }
                    }
                }

                .softskill{
                    margin-top: 2vw;
                    cursor: pointer;
                    .softskill_name{
                        @include flexProperty(space-between);
                        &:hover .circle{
                            transform: rotate(180deg);
                        }

                        .circle{
                            width: 3vw;
                            height: 3vw;
                            border-radius: 50%;
                            border: .2vw solid $font_back;
                            overflow: hidden;
                            position: relative;
                            @include flexProperty(center);
                            transition: all 1s ease;

                            .arrow{
                                width: 1.5vw;
                                height: 1.5vw;
                                border-left: .2vw solid $font_back;
                                border-top: .2vw solid $font_back;
                                transform: rotate(45deg);
                                transform-origin: center;
                            }
                        }

                        h1{
                            font-family: canopee;
                            font-size: 5vw;
                            color: $font_back;
                        }

                    }

                    .soft_container{
                        @include flexProperty(space-between);
                        flex-direction: column;
                        gap: 2vw;
                        padding: 0 2vw;
                        border-bottom: 1px solid $font_back;
                        margin-top: 2vw;

                        &.active{
                            max-height: 0vw;
                            overflow: hidden;
                        }

                       .software{
                            @include flexProperty(center);
                            margin-bottom: 2vw;
                        }

                        .xd{
                            @include textproparty(1.3vw,2vw);
                            @include skillimageproparty(7vw,6vw);
                            transform: translateX(2%);
                        }
                        .figma{
                            @include textproparty(1.3vw,2vw);
                            @include skillimageproparty(7vw,6vw);
                            transform: translateX(-10%);
                        }
                        .blender{
                            @include textproparty(1.3vw,2vw);
                            @include skillimageproparty(7vw,6vw);
                        }
            
                        }
                    }
                }
            }

            .workexperience{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: 5vw 2vw 0;
                

                h3{
                    font-family: editorial;
                    font-weight: 100;
                    font-size: 2vw;
                }

                .workcards{
                    margin-top: 2vw;
                    display: flex;
                    justify-content: space-between;
                    overflow-x: hidden;
                    gap: 4vw;
                    cursor: pointer;

                    .opportunity{
                        width: 35vw;
                        height: 30vw;
                        background-color: #B5ACA0;
                        border-radius: 2%;
                        border: 1px solid $font_back;
                        @include flexProperty(center);
                        padding: 0 .9vw;

                        .contain{
                            width: 33vw;
                            height: 28vw;
                            border: 2px dashed $font_back;
                            padding: 2vw;

                            h1{
                                font-family: editorial;
                                font-size: 4vw;
                                font-weight: 200;
                                line-height: 4vw;
                                margin-bottom: 1vw;
                            }
                            p{
                                font-family: canopee;
                                font-size: 2vw;
                                font-weight: 100;
                                margin-top: 2vw;
                            }
                            h4{
                                font-family: editorial;
                                font-size: 2vw;
                                font-weight: 200;
                                margin-top: 2vw;
                            }
                        }
                    }

                    .freelance{
                        @extend .opportunity;
                    }

                    .work{
                        @extend .opportunity;
                        h4{
                            display: inline-block;
                            background-color: $font_back;
                            color: $navlink_color;
                            font-weight: 500;
                            font-family: canopee;
                            margin-right: 1vw;
                            padding: .2vw;
                        }
                    }
                }
            }

            #hurrah{
                margin: 5vw 2vw 0;
                #HURRAH{
                    font-size: 35vw;
                    font-family: canopee;
                    background-color: $font_back;
                    color: $navlink_color;
                    line-height: 32vw;
                    padding-left: 2vw;
                    font-weight: 200;
                }
            }

            .clientwork{
                margin: 3vw 2vw 0 2vw;

                h1{
                    font-family: editorial;
                    font-size: 5vw;
                    font-weight: 100;
                    line-height: 5.5vw;
                    span{
                        font-family: canopee;
                        background-color: $font_back;
                        color: $navlink_color;
                        font-size: 6vw;
                        padding: 0 .5vw;
                    }
                }
            }

            .clientImage{
                @include flexProperty(center);
                gap: 3vw;
                margin: 3vw 2vw 0;

                .image1{
                    width: calc((100vw - (3vw + 4vw)) / 2);
                    height: calc((100vw - (3vw + 4vw)) / 2);
                    overflow: hidden;
                    border: 1px solid $font_back;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .image2{
                    @extend .image1;
                }
            }

            #footer_work{
                height: fit-content;
                @include flexProperty(space-around);
                border-top: 1px solid $font_back;
                margin: 0 2vw 2vw;
                padding-top: 2vw;
             
                .work_one{
                  width: 30%;
                  height: 100%;
          
                   .image_div{
                      height: 50%;
                      width: 100%;
                      overflow: hidden;
                      border: 1px solid $line_color;
                      img{
                         height: 100%;
                         width: 100%;
                         object-fit: cover;
                         transition: all ease 0.5s;
                        
                         &:hover{
                            scale: 1.1;
                         }
                      }
                   }
          
                   h4{
                      font-size: 1.5vw;
                      margin-top: 1vw;
                      font-family: canopee;
                      margin-bottom: 1vw;
                      font-weight: 100;
          
                      span{
                         padding: 2px;
                         border-radius: 2px;
                         font-size: 1.2vw;
                         font-weight: 100;
                         color: white;
                         background-color: $new_color;
                      }
                   }
          
                   p{
                      font-size: 1.3vw;
                      font-family: editorial;         
                   }
                }
                .work_All{
                  width: 25%;
                  height: 100%;
                  border-left: 1px solid $line_color;
                  border-right: 1px solid $line_color; 
                  text-align: center;
          
                  h1{
                   font-family: canopee;
                   font-size: 4vw;
                   font-weight: 200;
                   margin-bottom: 1vw;
                  }
          
                  h3{
                   font-family:editorial;
                   font-weight: 20;
                   font-size: 2.5vw;
                   margin-bottom: 2vw;
                  }
          
                  p{
                   font-family: editorial;
                   font-weight: 100;
                   font-size: 1.5vw;
                   span{
                      font-family: canopee;
                      font-weight: bolder;
                   }
                  }
                }
                .work_two{
                  @extend .work_one;
                }
             }
            
             #email{
                height: 10vw;
                width: 96vw;
                border-top: 1px solid $font_back;
                border-bottom: 1px solid $font_back;
                @include flexProperty(center);
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                margin: 0 2vw;
          
                &::-webkit-scrollbar{
                   display: none;
                }
          
                &:hover h1{
                   animation-play-state: paused;
                }
          
                h1{
                   font-size: 5vw;
                   font-family: domaine;
                   font-weight: 100;
                   display: inline-block;
                   margin-left: 1vw;
                   animation: movingText 4s infinite linear;
                   color: $font_back;
          
                   a{
                      font-family: canopee;
                      background-color: $font_back;
                      color: $navlink_color;
                      text-decoration: none;
                      padding: 0 1vw;
                   }
                }
          
                @keyframes movingText {
                   0%{
                      transform: translateX(0%);
                   }
                   100%{
                      transform: translateX(calc(-100% - 4px - .5vw));
                   }
                }
             }

             #footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 2vw;
                width: 100%;
                height: fit-content;
                padding: 2vw 0;
          
                h4{
                   font-family: canopee;
                   font-size: max(2vw,2vh);
                   font-weight: 100;
                   display: flex;
          
                   span{
                      aspect-ratio: 1;
                      width: 2vw;
                      border-radius: 100%;
                      border: 1px solid $font_back;
                      font-size: 1vw;
                      margin-left: .5vw;
                   }
                }
          
                span{
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   transform: translateX(-20%);
          
                   a{
                      text-decoration: none;
                      color: $font_back;
                      font-family: canopee;
                      font-size: max(1.5vw,1.5vh);
                   }
          
                   .circle{
                      aspect-ratio: 1;
                      width: max(.5vw,.5vh);
                      border-radius: 50%;
                      background-color: $font_back;
                      margin: 0 .5vw;
                   }
                }
             }
        }
    }
}

@media  screen and (max-width: 500px) {
    #main{
       #container{
          .navcontainer{
            .text{
                display: none;
            }
 
            .hamburger{
                margin-right: 2vw;
             }
          }
 
          #About{
            .about_text{
                margin-top: 6vh;
            }
            
            .skills{
                flex-direction: column;

                .myImage{
                    border: 0;
                    width: 100%;

                    .myimage{
                        width: 100%;
                        height: 100%;
                    }

                    h1{
                        font-size: 19.5vw;
                        line-height: 20vw;

                        #me{
                            font-size: 20vw;
                        }
                    }

                    #a{
                        font-size: 5vh;
                    }

                    h4{
                        font-size: 4vh;
                        line-height: 4vh;
                    }

                    p{
                        font-size: 4vh;
                        line-height: 4vh;
                    }
                }

                .skill{
                    margin-top: 5vw;
                    padding: 0;

                    .currentskill{
                        .skill_name{
                            h1{
                                font-size: 4vh;
                            }

                            .circle{
                                width: 3vh;
                                height: 3vh;
                            }
                        }

                        .currentskill_container{
                            flex-direction: column;
                            align-items: flex-start;

                            .currentskill1{
                                gap: 2vh;
                                .c{
                                    @include skillimageproparty(6vh,6vh);
                                    @include textproparty(2vh,2vh);
                                    transform: translateX(-20%);
                                }

                                .python{
                                    transform: translateX(2%);
                                    @include skillimageproparty(10vh,10vh);
                                    @include textproparty(2vh,2vh);
                                }

                                .java{
                                    @include skillimageproparty(6vh,6vh);
                                    @include textproparty(2vh,2vh);
                                    transform: translateX(-5%);
                                }

                                .javascript{
                                    @include skillimageproparty(6vh,6vh);
                                @include textproparty(2vh,2vh);
                                transform: translateX(-14%);
                                }
                            }

                            .currentskill2{
                                gap: 2vh;
                                .TypeScript{
                                    @include skillimageproparty(8vh,8vh);
                                    @include textproparty(2vh,2vh);
                                    transform: translateX(5%);
                                }

                                .HTML{
                                    @include textproparty(2vh,2vh);
                                     @include skillimageproparty(7vh,7vh);
                                    transform: translateX(0);
                                }

                                .CSS{
                                    @include textproparty(2vh,2vh);
                                    @include skillimageproparty(6vh,6vh);
                                    transform: translateX(-9%);
                                 }
         
                                .Gsap{
                                    @include textproparty(2vh,2vh);
                                    @include skillimageproparty(7vh,7vh);
                                    transform: translateX(7%);
                                }
                            }
                        }
                    }

                    .working_on{
                        .workingskill_name{
                            .circle{
                                height: 3vh;
                                width: 3vh;
                            }

                            h1{
                                font-size: 4vh;
                            }
                        }

                        .workingskill_container{
                      
                            .workingonskill{
                                gap: 2vh;
                                .node{
                                    @include textproparty(2vh,2vh);
                                    @include skillimageproparty(13vh,6vh);
                                    transform: translateX(0);
    
                                }
    
                                .express{
                                    @include textproparty(2vh,2vh);
                                    @include skillimageproparty(23vh,6vh);
                                    transform: translateX(2%);
                                }
    
                                .mongo{
                                    @include textproparty(2vh,2vh);
                                    @include skillimageproparty(12vh,6vh);
                                    transform: translateX(0%);
                                }
    
                                .next{
                                    @include textproparty(2vh,2vh);
                                    @include skillimageproparty(18vh,6vh);
                                }
                            }
                        }


                    }

                    .softskill{
                        .softskill_name{
                            .circle{
                                width: 3vh;
                                height: 3vh;
                            }

                            h1{
                                font-size: 4vh;
                            }
                        }

                        .soft_container{
                            gap: 2vh;

                            .xd{
                                @include textproparty(2vh,2vh);
                                @include skillimageproparty(12vh,6vh);
                                transform: translateX(2%);
                            }
                            .figma{
                                @include textproparty(2vh,2vh);
                                @include skillimageproparty(7vh,6vh);
                                transform: translateX(2%);
                            }
                            .blender{
                                @include textproparty(2vh,2vw);
                                @include skillimageproparty(13vh,6vh);
                                transform: translateX(-2%);
                            }
                
                        }
                    }
                }
            }
            .workexperience{
                margin-top: 3vh;
                h3{
                    font-size: 3vh;
                }
                
                .workcards{
                    flex-direction: column;
                    gap: 2vw;
                    margin-top: 2vh;

                    .opportunity{
                        width: 96vw;
                        height: 60vw;

                        .contain{
                            width: 90vw;
                            height: 95%;

                            h1{
                                font-size: 4vh;
                                line-height: 4vh;
                                margin-bottom: 1vh;
                            }

                            p{
                                font-size: 2vh;
                                margin-top: 2vh;
                            }

                            h4{
                                font-size: 2vh;
                                margin-top: 2vh;
                            }
                        }
                    }

                    .work{
                        h4{
                            font-size: 3vh;
                        }
                    }
                }
            }

            .clientwork{
                h1{
                    font-size: 5vh;
                    line-height: 5vh;

                    span{
                        font-size: 5vh;
                    }
                }
            }

            .clientImage{

                .image1{
                    width: 96vw;
                    height: 96vw;
                    margin-bottom: 2vh;
                }

                .image2{
                    display: none;
                }
            }

            #footer_work{
               .work_one{
                h4{
                   font-size: 1.5vh;
 
                   span{
                      font-size: 1.2vh;
                   }
                }
 
                p{
                   font-size: .8vh;
                }
               }
 
               .work_All{
                   h3{
                      font-size: 1.5vh;
                   }
 
                   p{
                      font-size: 1.2vh;
                   }
               }
            }
 
            #footer{
                h4{
                   span{
                      width: 3vw;
                      font-size: 1vh;
                   }
                }
 
                span{
                   transform: translateX(-10%);
                }
            }
          }
       }
    }
 }