@font-face {
  font-family: domaine;
  src: url(./fontfamily/domaine.ttf);
}
@font-face {
  font-family: editorial;
  src: url(./fontfamily/editorial.ttf);
}
@font-face {
  font-family: canopee;
  src: url(./fontfamily/canopee.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.loader.preload-finish {
  opacity: 0;
  pointer-events: none;
}
.loader .blundler-container {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}
.loader .blundler-container .blundler {
  height: 100%;
  flex: 1;
  background-color: #1D1D1B;
  transform-origin: top;
}
.loader #logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 30vw;
  margin: auto;
}
.loader #logo path:nth-child(1) {
  stroke-dasharray: 769.16;
  stroke-dashoffset: 769.16;
  animation: line-animation ease 2s forwards infinite;
}
.loader #logo path:nth-child(2) {
  stroke-dasharray: 667.62;
  stroke-dashoffset: 667.62;
  animation: line-animation ease 2s forwards 0.3s infinite;
}
.loader #logo path:nth-child(3) {
  stroke-dasharray: 702.82;
  stroke-dashoffset: 702.82;
  animation: line-animation ease 2s forwards 0.6s infinite;
}
.loader #logo path:nth-child(4) {
  stroke-dasharray: 612.61;
  stroke-dashoffset: 612.61;
  animation: line-animation ease 2s forwards 0.9s infinite;
}
.loader #logo path:nth-child(5) {
  stroke-dasharray: 499.51;
  stroke-dashoffset: 499.51;
  animation: line-animation ease 2s forwards 1.2s infinite;
}
.loader #logo path:nth-child(6) {
  stroke-dasharray: 590.19;
  stroke-dashoffset: 590.19;
  animation: line-animation ease 2s forwards 1.5s infinite;
}
@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #BEB5AB;
  }
}

.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor__ball circle {
  fill: #BEB5AB;
}

#main {
  overflow-x: hidden;
}
#main #container .papertexture {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url(./resources/peper_texture.webp);
  background-size: auto;
  background-position: center;
  opacity: 0.4;
  z-index: -2;
}
#main #container .papercolor {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #C0B9B0;
  mix-blend-mode: multiply;
  z-index: -2;
}
#main #container .navlinks {
  background-color: #1D1D1B;
  color: #BEB5AB;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  clip-path: circle(10vw at 50% -8%);
  -webkit-clip-path: circle(10vw at 50% -8%);
  transition: all 1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5vw;
  pointer-events: none;
}
#main #container .navlinks.open {
  clip-path: circle(200vw at 100% -8%);
  -webkit-clip-path: circle(200vw at 100% -8%);
  pointer-events: all;
}
#main #container .navlinks .links {
  font-size: max(15vw, 10vh);
  line-height: max(13.5vw, 9vh);
  font-family: canopee;
  transition: 0.9s ease-in-out;
  opacity: 0;
}
#main #container .navlinks .links a {
  text-decoration: none;
  color: #BEB5AB;
}
#main #container .navlinks .links.fade {
  opacity: 1;
}
#main #container .navlinks .links:hover {
  letter-spacing: 0.5vw;
}
#main #container .navlinks span {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main #container .navlinks span a {
  text-decoration: none;
  color: #BEB5AB;
  font-family: canopee;
  font-size: max(1.5vw, 2vh);
}
#main #container .navlinks span .circle {
  aspect-ratio: 1;
  width: 0.5vw;
  border-radius: 50%;
  background-color: #BEB5AB;
  margin: 0 0.5vw;
}
#main #container .navcontainer {
  position: fixed;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #76736D;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 2vw 0;
  background-color: #BEB5AB;
  transition: 1.2s all ease-out;
}
#main #container .navcontainer.bg_color {
  background-color: #1C1C19;
  border: 0;
}
#main #container .navcontainer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96vw;
  margin: 0 2vw;
  height: 100%;
}
#main #container .navcontainer nav .text {
  width: 30%;
}
#main #container .navcontainer nav .text h5 {
  font-family: canopee;
  font-weight: 10;
  font-size: 1.5vw;
}
#main #container .navcontainer nav .text h5.colorchange {
  color: #BEB5AB;
}
#main #container .navcontainer nav .imgdiv {
  width: 30%;
  text-align: center;
}
#main #container .navcontainer nav .imgdiv img {
  width: max(10vw, 10vh);
}
#main #container .navcontainer nav .hamburger {
  width: 30%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
#main #container .navcontainer nav .hamburger .linecontainer {
  cursor: pointer;
}
#main #container .navcontainer nav .hamburger .linecontainer .line {
  width: max(2vw, 2vh);
  height: max(0.2vw, 0.2vh);
  background-color: #1C1C19;
  margin-bottom: max(0.2vw, 0.2vh);
  transition: all ease 0.3s;
}
#main #container .navcontainer nav .hamburger .linecontainer .line.linecolor:first-child {
  transform: rotate(45deg);
  background-color: #BEB5AB;
}
#main #container .navcontainer nav .hamburger .linecontainer .line.linecolor:last-child {
  transform: rotate(-45deg) translateY(20%);
  background-color: #BEB5AB;
}
#main #container .navcontainer nav .hamburger .linecontainer:hover .line:first-child {
  transform: translateX(0.2vw);
}
#main #container .navcontainer nav .hamburger .linecontainer:hover .line:last-child {
  transform: translateX(-0.2vw);
}
#main #container #Work #header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 2vw;
  color: #1C1C19;
  margin-bottom: 5vw;
}
#main #container #Work #header .hero_text {
  margin-top: 8vw;
  width: 47vw;
  margin-right: 2vw;
  border-right: 1px solid #1C1C19;
  padding-right: 1vw;
}
#main #container #Work #header .hero_text h4 {
  font-family: canopee;
  letter-spacing: 0.5vw;
  font-weight: 200;
  font-size: 1vw;
  margin-bottom: 1vw;
}
#main #container #Work #header .hero_text .featured {
  margin-bottom: 1vw;
}
#main #container #Work #header .hero_text .featured h1 {
  font-family: canopee;
  background-color: #1C1C19;
  color: #BEB5AB;
  font-size: 10vw;
  display: inline;
  margin-bottom: 1vw;
  padding: 0 1vw;
}
#main #container #Work #header .hero_text .work {
  margin-bottom: 2vw;
}
#main #container #Work #header .hero_text .work h1 {
  font-family: canopee;
  background-color: #1C1C19;
  color: #BEB5AB;
  font-size: 10vw;
  display: inline;
  margin-bottom: 1vw;
  padding: 0 1vw;
}
#main #container #Work #header .hero_text p {
  font-family: editorial;
  font-size: 2vw;
  margin-bottom: 1vw;
}
#main #container #Work #header .hero_text p span {
  background-color: #1C1C19;
  color: #BEB5AB;
  font-family: canopee;
  font-size: 5vw;
  padding: 0 1vw;
  border-radius: 10%;
  float: left;
  margin-right: 1vw;
}
#main #container #Work #header .hero_text .btn {
  position: relative;
  width: 60%;
  height: 10vw;
  border-radius: 50%;
  left: 20%;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid #1C1C19;
  overflow-x: hidden;
}
#main #container #Work #header .hero_text .btn:hover img {
  transform: translate(50%);
}
#main #container #Work #header .hero_text .btn:hover h1 {
  transform: translate(175%);
}
#main #container #Work #header .hero_text .btn img {
  height: 4vw;
  transform: translateX(-120%);
  transition: 1s all ease;
}
#main #container #Work #header .hero_text .btn h1 {
  position: absolute;
  color: #1C1C19;
  left: 30%;
  font-size: 3vw;
  font-weight: 100;
  transition: 1s all ease;
}
#main #container #Work #header .image_container {
  width: 47vw;
  height: 50vw;
  overflow: hidden;
  margin-top: 8vw;
}
#main #container #Work #header .image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main #container #Work #Figma {
  display: flex;
  gap: 1vw;
  margin: 2vw 2vw 0;
  border-top: 1px solid #1C1C19;
  padding-top: 5vw;
}
#main #container #Work #Figma .first, #main #container #Work #Figma .third, #main #container #Work #Figma .second {
  width: 31vw;
  height: -moz-fit-content;
  height: fit-content;
}
#main #container #Work #Figma .first .design, #main #container #Work #Figma .third .design, #main #container #Work #Figma .second .design {
  width: 100%;
  height: 50vw;
  border: 1px solid #1C1C19;
  padding: 1vw;
  position: relative;
  margin-bottom: 1vw;
}
#main #container #Work #Figma .first .design h1, #main #container #Work #Figma .third .design h1, #main #container #Work #Figma .second .design h1 {
  font-family: canopee;
  font-size: 2vw;
  margin-bottom: 1vw;
}
#main #container #Work #Figma .first .design .mockup, #main #container #Work #Figma .third .design .mockup, #main #container #Work #Figma .second .design .mockup {
  background-color: red;
  width: 29vw;
  height: 60%;
  margin-bottom: 1vw;
}
#main #container #Work #Figma .first .design p, #main #container #Work #Figma .third .design p, #main #container #Work #Figma .second .design p {
  font-family: editorial;
  font-size: 1.5vw;
}
#main #container #Work #Figma .first .design p span, #main #container #Work #Figma .third .design p span, #main #container #Work #Figma .second .design p span {
  color: #BEB5AB;
  background-color: #1C1C19;
  font-family: canopee;
  margin-right: 0.5vw;
  padding: 0 0.5vw;
}
#main #container #Work #Figma .first .design a .button, #main #container #Work #Figma .third .design a .button, #main #container #Work #Figma .second .design a .button {
  position: absolute;
  width: 5vw;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #1C1C19;
  right: 5%;
  bottom: -5%;
  background-color: #BEB5AB;
}
#main #container #Work #Figma .first .design a .button .play, #main #container #Work #Figma .third .design a .button .play, #main #container #Work #Figma .second .design a .button .play {
  width: 0;
  height: 0;
  border-top: 1.2vw solid transparent;
  border-left: 2.4vw solid #1C1C19;
  border-bottom: 1.2vw solid transparent;
  position: absolute;
  top: 25%;
  left: 30%;
}
#main #container #Work #Figma .first .figma, #main #container #Work #Figma .third .figma, #main #container #Work #Figma .second .figma {
  font-family: canopee;
  font-size: 10vw;
  letter-spacing: 1.7vw;
  color: #817B74;
  font-weight: 500;
}
#main #container #Work #Figma .first .web, #main #container #Work #Figma .third .web, #main #container #Work #Figma .second .web {
  font-family: canopee;
  font-size: 10vw;
  letter-spacing: 1.9vw;
  color: #817B74;
  font-weight: 500;
}
#main #container #Work #Figma .second .figma {
  letter-spacing: 1vw;
}
#main #container #Work #Figma .third .figma {
  letter-spacing: 0.6vw;
}
#main #container #Work #Figma .third .web {
  letter-spacing: 1.3vw;
}
#main #container #Work #github {
  height: 10vw;
  width: 96vw;
  border-top: 1px solid #1C1C19;
  border-bottom: 1px solid #1C1C19;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 2vw 2vw 0;
}
#main #container #Work #github::-webkit-scrollbar {
  display: none;
}
#main #container #Work #github:hover h1 {
  animation-play-state: paused;
}
#main #container #Work #github h1 {
  font-size: 5vw;
  font-family: domaine;
  font-weight: 100;
  display: inline-block;
  margin-left: 1vw;
  animation: movingText 4s infinite linear;
  color: #1C1C19;
}
#main #container #Work #github h1 a {
  font-family: canopee;
  background-color: #1C1C19;
  color: #BEB5AB;
  text-decoration: none;
  padding: 0 1vw;
}
@keyframes movingText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 4px - 0.5vw));
  }
}
#main #container #Work #web-projects {
  margin: 3vw 2vw;
  color: #BEB5AB;
  position: relative;
  overflow: hidden;
}
#main #container #Work #web-projects:hover .leftarrow, #main #container #Work #web-projects:hover .rightarrow {
  opacity: 1;
}
#main #container #Work #web-projects:hover .rightarrow {
  opacity: 1;
}
#main #container #Work #web-projects .leftarrow, #main #container #Work #web-projects .rightarrow {
  width: 2vw;
  height: 2vw;
  border-left: 0.2vw solid #BEB5AB;
  border-top: 0.2vw solid #BEB5AB;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 2%;
  transition: 0.5s all ease-out;
  z-index: 10;
  opacity: 0;
}
#main #container #Work #web-projects .rightarrow {
  transform: rotate(135deg);
  left: 96%;
}
#main #container #Work #web-projects .project_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96vw;
  height: 42vw;
}
#main #container #Work #web-projects .project_container .project {
  background-color: #1C1C19;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#main #container #Work #web-projects .project_container .project .container1 {
  width: 96vw;
  height: 38vw;
  padding: 2vw 2vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main #container #Work #web-projects .project_container .project .container1 .text1 {
  width: 30vw;
  margin-left: 2vw;
}
#main #container #Work #web-projects .project_container .project .container1 .text1 h1 {
  font-family: editorial;
  font-size: 2vw;
  font-weight: 100;
}
#main #container #Work #web-projects .project_container .project .container1 .video_container {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
}
#main #container #Work #web-projects .project_container .project .container1 .video_container video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#main #container #Work #web-projects .project_container .project .container1 .text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 32vw;
  width: 20vw;
  margin-left: 2vw;
  font-family: canopee;
}
#main #container #Work #web-projects .project_container .project .container1 .text2 h1 {
  font-size: 3vw;
}
#main #container #Work #web-projects .project_container .project .container1 .text2 h4 {
  font-size: 2vw;
  font-weight: 100;
  font-family: editorial;
}
#main #container #Work #web-projects .project_container .project .container1 .text2 a {
  text-decoration: none;
}
#main #container #Work #web-projects .project_container .project .container1 .text2 a:hover .button {
  background-color: #1C1C19;
}
#main #container #Work #web-projects .project_container .project .container1 .text2 a:hover .button h3 {
  color: #BEB5AB;
}
#main #container #Work #web-projects .project_container .project .container1 .text2 a:hover .button .arrow {
  border-color: #BEB5AB;
}
#main #container #Work #web-projects .project_container .project .container1 .text2 a .button {
  border: 1px solid #BEB5AB;
  background-color: #BEB5AB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vw;
  transition: all 0.5s ease;
}
#main #container #Work #web-projects .project_container .project .container1 .text2 a .button h3 {
  font-family: canopee;
  font-size: 2vw;
  color: #1C1C19;
  font-weight: 100;
  transition: all 0.5s ease;
}
#main #container #Work #web-projects .project_container .project .container1 .text2 a .button .arrow {
  width: 1vw;
  height: 1vw;
  border-left: 0.2vw solid #1C1C19;
  border-top: 0.2vw solid #1C1C19;
  transform: rotate(135deg);
  margin-left: 1vw;
  transition: all 0.5s ease;
}
#main #container #Work #web-projects .project_container .project .container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: canopee;
  border-top: 1px solid #BEB5AB;
  padding-top: 0.5vw;
}
#main #container #Work #web-projects .project_container .project .container2 .moto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}
#main #container #Work #web-projects .project_container .project .container2 .moto h1 {
  font-size: 1.5vw;
  font-weight: 100;
}
#main #container #Work #web-projects .project_container .project .container2 .moto .circle {
  aspect-ratio: 1;
  width: 0.5vw;
  border-radius: 50%;
  background-color: #BEB5AB;
  margin: 0 1vw;
}
#main #container #Work #web-projects .project_container .project .container2 .social2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}
#main #container #Work #web-projects .project_container .project .container2 .social2 a {
  text-decoration: none;
  color: #BEB5AB;
  font-size: 1.5vw;
  font-weight: 100;
}
#main #container #Work #web-projects .project_container .project .container2 .social2 .circle {
  aspect-ratio: 1;
  width: 0.5vw;
  border-radius: 50%;
  background-color: #BEB5AB;
  margin: 0 1vw;
}
#main #container #Work #Blender {
  margin: 5vw 2vw;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 96vw;
}
#main #container #Work #Blender .models_text {
  margin-bottom: 2vw;
}
#main #container #Work #Blender .models_text h1 {
  font-family: canopee;
  font-size: 12vw;
  background-color: #817B74;
  color: #BEB5AB;
  letter-spacing: 6vw;
  padding-left: 3vw;
}
#main #container #Work #Blender .thdmodel {
  display: flex;
}
#main #container #Work #Blender .thdmodel .text_blender {
  width: 50%;
  padding-right: 2vw;
}
#main #container #Work #Blender .thdmodel .text_blender .uicontainer {
  width: 45vw;
  height: 25vw;
  overflow: hidden;
  margin: 2vw 0;
}
#main #container #Work #Blender .thdmodel .text_blender .uicontainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main #container #Work #Blender .thdmodel .text_blender h2 {
  font-family: editorial;
  color: #1C1C19;
  font-weight: 100;
  font-size: 2vw;
}
#main #container #Work #Blender .thdmodel .text_blender h1 {
  font-family: canopee;
  font-size: 10vw;
  color: #1C1C19;
  line-height: 8vw;
}
#main #container #Work #Blender .thdmodel .text_blender p {
  font-family: editorial;
  font-size: 2vw;
}
#main #container #Work #Blender .thdmodel .text_blender p span {
  font-family: canopee;
  font-size: 4vw;
  color: #BEB5AB;
  background-color: #1C1C19;
  padding: 0 1vw;
  border-radius: 10%;
  float: left;
  margin-right: 1vw;
}
#main #container #Work #Blender .thdmodel .text_blender .btn {
  position: relative;
  width: 60%;
  height: 10vw;
  border-radius: 50%;
  left: 30%;
  margin-top: 5vw;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid #1C1C19;
  overflow-x: hidden;
}
#main #container #Work #Blender .thdmodel .text_blender .btn:hover img {
  transform: translate(60%);
}
#main #container #Work #Blender .thdmodel .text_blender .btn:hover h1 {
  transform: translate(175%);
}
#main #container #Work #Blender .thdmodel .text_blender .btn img {
  height: 4vw;
  transform: translateX(-120%);
  transition: 1s all ease;
}
#main #container #Work #Blender .thdmodel .text_blender .btn h1 {
  position: absolute;
  color: #1C1C19;
  left: 30%;
  font-size: 3vw;
  font-weight: 100;
  transition: 1s all ease;
}
#main #container #Work #Blender .thdmodel .models {
  width: 50%;
}
#main #container #Work #Blender .thdmodel .models .model {
  display: flex;
}
#main #container #Work #Blender .thdmodel .models .model .model_container {
  width: 24vw;
  height: 24vw;
  border: 1px solid #1C1C19;
  background-color: #1C1C19;
  overflow: hidden;
}
#main #container #Work #Blender .thdmodel .models .model .model_container model-viewer {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main #container #Work #Blender .thdmodel .models .model .model_name {
  width: 24vw;
  height: 24vw;
  border: 1px solid #1C1C19;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2vw;
  color: #1C1C19;
}
#main #container #Work #Blender .thdmodel .models .model .model_name h1 {
  font-family: canopee;
  font-size: 3vw;
  text-align: right;
  color: #817B74;
}
#main #container #Work #Blender .thdmodel .models .model .model_name p {
  font-family: editorial;
  font-size: 1.4vw;
  color: #1C1C19;
}
#main #container #Work #Blender .thdmodel .models .model .model_name h3 {
  font-family: canopee;
  font-size: 3vw;
  color: #817B74;
}
#main #container #Work #email {
  height: 10vw;
  width: 96vw;
  border-top: 1px solid #1C1C19;
  border-bottom: 1px solid #1C1C19;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 2vw;
}
#main #container #Work #email::-webkit-scrollbar {
  display: none;
}
#main #container #Work #email:hover h1 {
  animation-play-state: paused;
}
#main #container #Work #email h1 {
  font-size: 5vw;
  font-family: domaine;
  font-weight: 100;
  display: inline-block;
  margin-left: 1vw;
  animation: movingText 4s infinite linear;
  color: #1C1C19;
}
#main #container #Work #email h1 a {
  font-family: canopee;
  background-color: #1C1C19;
  color: #BEB5AB;
  text-decoration: none;
  padding: 0 1vw;
}
@keyframes movingText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 4px - 0.5vw));
  }
}
#main #container #Work #footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2vw;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2vw 0;
}
#main #container #Work #footer h4 {
  font-family: canopee;
  font-size: max(2vw, 2vh);
  font-weight: 100;
  display: flex;
}
#main #container #Work #footer h4 span {
  aspect-ratio: 1;
  width: 2vw;
  border-radius: 100%;
  border: 1px solid #1C1C19;
  font-size: 1vw;
  margin-left: 0.5vw;
}
#main #container #Work #footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-20%);
}
#main #container #Work #footer span a {
  text-decoration: none;
  color: #1C1C19;
  font-family: canopee;
  font-size: max(1.5vw, 1.5vh);
}
#main #container #Work #footer span .circle {
  aspect-ratio: 1;
  width: max(0.5vw, 0.5vh);
  border-radius: 50%;
  background-color: #1C1C19;
  margin: 0 0.5vw;
}

@media screen and (max-width: 500px) {
  #main #container .navcontainer .text {
    display: none;
  }
  #main #container .navcontainer .hamburger {
    margin-right: 2vw;
  }
  #main #container #Work #header {
    flex-direction: column;
  }
  #main #container #Work #header .hero_text {
    width: 96%;
    border: 0;
    margin-right: 0;
    padding-right: 0;
    margin-top: 10vw;
  }
  #main #container #Work #header .hero_text h4 {
    font-size: 5vw;
  }
  #main #container #Work #header .hero_text .featured h1 {
    font-size: 30vw;
    font-weight: 100;
  }
  #main #container #Work #header .hero_text .work h1 {
    font-size: 30vw;
  }
  #main #container #Work #header .hero_text p {
    font-size: 7vw;
  }
  #main #container #Work #header .hero_text p span {
    font-size: 10vw;
  }
  #main #container #Work #header .hero_text .btn {
    width: 50vw;
    height: 15vw;
  }
  #main #container #Work #header .hero_text .btn h1 {
    font-size: 5vw;
  }
  #main #container #Work #header .image_container {
    width: 96%;
    height: -moz-max-content;
    height: max-content;
  }
  #main #container #Work #Figma {
    flex-direction: column;
    margin-bottom: 8vw;
  }
  #main #container #Work #Figma .first, #main #container #Work #Figma .second, #main #container #Work #Figma .third {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  #main #container #Work #Figma .first .design, #main #container #Work #Figma .second .design, #main #container #Work #Figma .third .design {
    width: 100%;
    height: 125vw;
    padding: 5vw;
    margin-top: 5vw;
  }
  #main #container #Work #Figma .first .design h1, #main #container #Work #Figma .second .design h1, #main #container #Work #Figma .third .design h1 {
    font-size: 5vw;
  }
  #main #container #Work #Figma .first .design .mockup, #main #container #Work #Figma .second .design .mockup, #main #container #Work #Figma .third .design .mockup {
    width: 100%;
    height: 80vw;
  }
  #main #container #Work #Figma .first .design p, #main #container #Work #Figma .second .design p, #main #container #Work #Figma .third .design p {
    font-size: 4vw;
  }
  #main #container #Work #Figma .first .design p span, #main #container #Work #Figma .second .design p span, #main #container #Work #Figma .third .design p span {
    font-size: 4vw;
  }
  #main #container #Work #Figma .first .design a .button, #main #container #Work #Figma .second .design a .button, #main #container #Work #Figma .third .design a .button {
    width: 15vw;
  }
  #main #container #Work #Figma .first .design a .button .play, #main #container #Work #Figma .second .design a .button .play, #main #container #Work #Figma .third .design a .button .play {
    border-top: 4vw solid transparent;
    border-left: 8vw solid #1C1C19;
    border-bottom: 4vw solid transparent;
  }
  #main #container #Work #Figma .first .figma, #main #container #Work #Figma .second .figma, #main #container #Work #Figma .third .figma {
    font-size: 35vw;
    color: #BEB5AB;
    letter-spacing: 3vw;
    background-color: #1C1C19;
    padding-left: 2vw;
  }
  #main #container #Work #Figma .first .web, #main #container #Work #Figma .second .web, #main #container #Work #Figma .third .web {
    display: none;
  }
  #main #container #Work #Figma .second .figma {
    display: none;
  }
  #main #container #Work #Figma .second .web {
    display: none;
  }
  #main #container #Work #Figma .third .figma {
    display: none;
  }
  #main #container #Work #Figma .third .web {
    display: none;
  }
  #main #container #Work #web-projects .project_container {
    height: -moz-fit-content;
    height: fit-content;
  }
  #main #container #Work #web-projects .project_container .project .container1 {
    flex-direction: column-reverse;
    height: -moz-fit-content;
    height: fit-content;
  }
  #main #container #Work #web-projects .project_container .project .container1 .text1 {
    width: 100%;
    margin-top: 2vw;
  }
  #main #container #Work #web-projects .project_container .project .container1 .text1 h1 {
    font-size: 3vw;
  }
  #main #container #Work #web-projects .project_container .project .container1 .video_container {
    width: 60vw;
    height: 100%;
  }
  #main #container #Work #web-projects .project_container .project .container1 .text2 {
    width: 100%;
    justify-content: center;
  }
  #main #container #Work #web-projects .project_container .project .container1 .text2 h1 {
    font-size: 6vw;
    font-weight: 100;
    margin-bottom: 2vw;
  }
  #main #container #Work #web-projects .project_container .project .container1 .text2 h4 {
    font-size: 3vw;
    margin-bottom: 2vw;
  }
  #main #container #Work #web-projects .project_container .project .container1 .text2 a .button h3 {
    font-size: 4vw;
  }
  #main #container #Work #web-projects .project_container .project .container1 .text2 a .button .arrow {
    border-top: 0.5vw solid #1C1C19;
    border-left: 0.5vw solid #1C1C19;
  }
  #main #container #Work #web-projects .project_container .project .container2 {
    padding: 2vw;
  }
  #main #container #Work #web-projects .project_container .project .container2 .moto h1 {
    font-size: 3vw;
  }
  #main #container #Work #web-projects .project_container .project .container2 .moto .circle {
    width: 1vw;
  }
  #main #container #Work #web-projects .project_container .project .container2 .social2 a {
    font-size: 3vw;
  }
  #main #container #Work #web-projects .project_container .project .container2 .social2 .circle {
    width: 1vw;
  }
  #main #container #Work #Blender .models_text h1 {
    background-color: #1C1C19;
    color: #BEB5AB;
  }
  #main #container #Work #Blender .thdmodel {
    flex-direction: column;
    margin-top: 5vw;
    gap: 5vw;
  }
  #main #container #Work #Blender .thdmodel .text_blender {
    width: 100%;
  }
  #main #container #Work #Blender .thdmodel .text_blender h1 {
    font-size: 15vw;
  }
  #main #container #Work #Blender .thdmodel .text_blender h2 {
    font-size: 5vw;
    margin-top: 2vw;
  }
  #main #container #Work #Blender .thdmodel .text_blender .uicontainer {
    width: 100%;
    height: 100%;
  }
  #main #container #Work #Blender .thdmodel .text_blender p {
    font-size: 5vw;
  }
  #main #container #Work #Blender .thdmodel .text_blender p span {
    font-size: 5vw;
  }
  #main #container #Work #Blender .thdmodel .text_blender .btn {
    width: 40vw;
    height: 15vw;
  }
  #main #container #Work #Blender .thdmodel .text_blender .btn h1 {
    font-size: 5vw;
  }
  #main #container #Work #Blender .thdmodel .models {
    width: 100%;
  }
  #main #container #Work #Blender .thdmodel .models .model .model_container {
    width: 50%;
    height: 50vw;
  }
  #main #container #Work #Blender .thdmodel .models .model .model_name {
    width: 50%;
    height: 50vw;
  }
  #main #container #Work #Blender .thdmodel .models .model .model_name h1 {
    font-size: 6vw;
  }
  #main #container #Work #Blender .thdmodel .models .model .model_name p {
    font-size: 4vw;
  }
  #main #container #Work #Blender .thdmodel .models .model .model_name h3 {
    font-size: 6vw;
  }
  #main #container #Work #footer h4 span {
    width: 3vw;
    font-size: 1vh;
  }
  #main #container #Work #footer span {
    transform: translateX(-10%);
  }
}/*# sourceMappingURL=Work.css.map */